# MQTT
paho-mqtt

# FastAPI
fastapi
uvicorn[standard]

# Database (MySQL + SQLAlchemy)
SQLAlchemy
mysql-connector-python  # Driver para MySQL
python-dotenv           # Gerenciamento de Variáveis de Ambiente
pydantic-settings